{%- if paginate.pages > 1 -%}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul class="pagination__list">
      {%- if paginate.previous -%}
        <li>
          <a href="{{ paginate.previous.url }}" class="pagination__item">
            {{ 'general.pagination.previous' | t }}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li>
            <a href="{{ part.url }}" class="pagination__item">{{ part.title }}</a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li>
              <span class="pagination__item pagination__item--current" aria-current="page">
                {{- part.title -}}
              </span>
            </li>
          {%- else -%}
            <li>
              <span class="pagination__item">{{ part.title }}</span>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li>
          <a href="{{ paginate.next.url }}" class="pagination__item">
            {{ 'general.pagination.next' | t }}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
