<div class="product__quantity">
  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity.label' | t }}</label>
  <quantity-input class="quantity">
    <button class="quantity__button" name="minus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t }}</span>
      {% render 'icon-minus' %}
    </button>
    <input
      class="quantity__input"
      type="number"
      name="quantity"
      id="Quantity-{{ section.id }}"
      min="1"
      value="1"
      form="{{ product_form_id }}"
    >
    <button class="quantity__button" name="plus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t }}</span>
      {% render 'icon-plus' %}
    </button>
  </quantity-input>
</div>
