<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ page_title }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'bootstrap-custom.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="wrapper flex-grow-1">
      <div class="skip-to-content-link">
        <a href="#MainContent" class="visually-hidden visually-hidden-focusable p-3">{{ 'general.accessibility.skip_to_content' | t }}</a>
      </div>

      {% section 'announcement-bar' %}
      {% section 'header' %}

      <main id="MainContent" class="container py-4" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>
    </div>

    {% section 'footer' %}

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="refreshPageToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          {{ 'general.accessibility.refresh_page' | t }}
        </div>
      </div>
    </div>
  </body>
</html>
